body{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 2px;

}

.text-rad-500{
    color: rgb(255, 15, 15);
}
.border-red-500{
    color: rgb(222, 27, 27);
}
input{
    outline: none;
}
nav{
    /* position: fixed; */
}
/*  */

/* .lg\:py-4{
    border: 1px solid rgb(0, 0, 0);
    border-bottom:1px solid transparent;
}

.lg\:py-4:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: 0.3s;
} */